*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ecf0f3;
    flex-direction: column;
    background-size: cover;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar{
    width: 570px;
    height: 30px;
    background-color: #ecf0f3;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-top: 2px solid #ecf0f3;
    border-left: 2px solid #ecf0f3;
    box-shadow: 5px 5px 5px #d1d9e6,-5px -5px 5px #fff;
    transition: 0.25s;
}
.searchbar input{
    border: 0px;
    background-color: transparent;
    border-radius: 6px;
    height: 30px;
    width: 540px;
    font-size: 20px;
    font-weight: bold;
}
.searchbar img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.link{
    display: flex;
    flex-direction: row;
    width: 610px;
    flex-wrap: wrap;
}
.link a div{
    width: 50px;
    height: 50px;
    background-color: #ecf0f3;
    backdrop-filter: blur(20px);
    margin: 10px;
    border-radius: 10px;
    border-top: 2px solid #ecf0f3;
    border-left: 2px solid #ecf0f3;
    box-shadow: 5px 5px 5px #d1d9e6,-5px -5px 5px #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px;
    transition: 0.25s;
}
.link div:active{
    box-shadow: inset 5px 5px 5px #d1d9e6,inset -5px -5px 5px #fff;
}

.link a div img{
    max-width: 100%;
    max-height: 100%;
}

.button{
    position: fixed;
    bottom: 0;
    padding: 15px;
    background-color: #ecf0f3;
    box-shadow: 10px 10px 10px #d1d9e6,-10px -10px 10px #fff;
    border-radius: 50px;
    border: 5px solid #ecf0f3;
    margin-bottom: 30px;
}
.button:active{
    box-shadow: inset 10px 10px 10px #d1d9e6,inset -10px -10px 10px #fff,10px 10px 10px #d1d9e6,-10px -10px 10px #fff;
    border: 5px solid #ecf0f3;
}
a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}