.bottom_right_button{
    position: fixed;
    right: 0;
    z-index: 10;
    bottom: 0;
}
.br_button{
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #ffffff90;
    box-shadow: 5px 5px 30px #00000050;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    cursor: pointer;
}
.br_button img{
    width: 100%;
    height: 100%;
}
.br_button:active{
    background-color: #ffffff50;
}