.weather_main{
    margin-left: 20px;
    font-size: 8px;
}
.weather_city{
    display: flex;
    flex-direction: row;
}
.weather_city input {
    outline: none;
    border: 0px;
    border-radius: 10px;
    margin-right: 10px;
    width: 170px;
    padding-left: 10px;
    padding-right: 10px;
}
.weather_city div{
    background-color: #0078d4;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    height: 17px;
    line-height: 17px;
}
.weather_city div:hover{
    background-color: #035fa5;
}
.day_weather{
    position: absolute;
    background-color: #ffffff70;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    top: 67px;
    bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
}
.today_weather{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #ffffff70;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    color: black;
}
.fea_weather{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 0;
    width: 250px;
    height: 100%;
    bottom: 0;
}
.fea_weatherbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72px;
    padding: 4px;
    background-color: #ffffff70;
    border-radius: 8px;
    height: 100%;
    text-align: center;
    color: black;
}
.weather_time{
    background-color: #ffffff70;
    padding: 3px;
    margin-bottom: 2px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
}