.top_left_button{
    position: fixed;
    left: 0;
    z-index: 11;
    top: 0;
}
.tl_button{
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #ffffff90;
    box-shadow: 5px 5px 30px #00000050;
    border-radius: 25px;
    backdrop-filter: blur(20px);
    cursor: pointer;
    transition: width 0.3s,height 0.3s,padding 0.3s,transform 0.3s;
}
.tl_button img{
    width: 30px;
    height: 30px;
    filter: drop-shadow(0px 0px 1px #00000050);
    transition: 0.3s;
}